.Responded{
    background: #33a65f !important;
}

.Pending{
    background: #EAB308 !important;
}

.undefined{
    background: #33a65f !important;
}

i{
    cursor: pointer;
}

.blocked{
    cursor: not-allowed !important;
}